# Entorno virtual
venv/
ENV/

# PyInstaller builds
dist/
build/
*.spec

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos binarios generados
*.exe
*.zip

# Logs, temporales, editor
*.log
*.tmp
.idea/
.vscode/